## 라이브러리 로딩

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

## 데이터 로딩 및 확인

In [4]:
# 절대경로 (경로는 영어인 게 좋다)
train = pd.read_csv('C:/Users/Yoojiyoung/CodingLessonSunday/day07_1106/따릉이/train.csv') 
test = pd.read_csv('C:/Users/Yoojiyoung/CodingLessonSunday/day07_1106/따릉이/test.csv')

In [7]:
# 현재경로 찾기
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C6A6-4987

 C:\Users\Yoojiyoung\CodingLessonSunday\day07_1106\따릉이 디렉터리

2022-11-06  오후 06:25    <DIR>          .
2022-11-06  오후 06:25    <DIR>          ..
2022-11-06  오후 06:23    <DIR>          .ipynb_checkpoints
2021-07-19  오전 11:47             4,631 submission.csv
2021-07-19  오전 11:47            35,719 test.csv
2021-07-19  오전 11:47            80,667 train.csv
2022-11-06  오후 06:25            22,356 따릉이_baseline.ipynb
               4개 파일             143,373 바이트
               3개 디렉터리  54,114,656,256 바이트 남음

In [8]:
# 상대경로 (현재경로에 있는 ~ , 현재경로는 지금 실행하고 있는 주피터 파일 있는 곳!)
train = pd.read_csv('./train.csv') 
test = pd.read_csv('./test.csv')

In [9]:
train.info()   # 전부 숫자형 데이터, null 데이터 몇 개 있음(전처리 필요)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [10]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [11]:
test.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

## 결측치 확인 및 처리

In [12]:
train.isnull().sum() # 각 열에서 결측치 몇 개 있는지 확인

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [13]:
test.isnull().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [14]:
# 결측치를 fillna를 통해 0으로 채워버림
train.fillna(0,inplace = True)
test.fillna(0,inplace = True)

In [15]:
train.isnull().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

In [16]:
test.isnull().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

## 모델 정의 및 학습

In [17]:
train_x = train.drop(['count'],axis = 1)  
train_y = train['count']   # 예측해야되는 컬럼

In [18]:
model=RandomForestRegressor(n_estimators=100)   # 트리 100개 합쳐서 랜덤포레스트 모델 만들기
model.fit(train_x,train_y)

RandomForestRegressor()

## 학습 된 모델로 예측 데이터 생성

In [19]:
pred = model.predict(test)  # test 데이터에는 count 컬럼 없으므로 바로 예측 ㄱㄱ

## 제출파일 생성

In [20]:
submission = pd.read_csv('./submission.csv')  # 상대경로(현재경로에 있는~)
submission

       id  count
0       0    NaN
1       1    NaN
2       2    NaN
3       4    NaN
4       5    NaN
..    ...    ...
710  2148    NaN
711  2149    NaN
712  2165    NaN
713  2166    NaN
714  2177    NaN

[715 rows x 2 columns]

In [21]:
submission['count'] = pred   # 예측값을 submission 파일에 넣기

In [22]:
submission

       id   count
0       0   92.82
1       1  230.65
2       2   89.75
3       4   28.40
4       5   70.14
..    ...     ...
710  2148   54.85
711  2149   65.40
712  2165  126.61
713  2166  150.87
714  2177  182.97

[715 rows x 2 columns]

In [23]:
submission.to_csv('baselineResult.csv',index = False)  # csv파일 저장(파일이름 영어로하기)